nvim/.config/nvim/sessions/*
nvim/.config/nvim/plugged/*
nvim/.config/nvim/plugin/*

mpd/.config/mpd/*
!mpd/.config/mpd/mpd.conf
ncmpcpp/.config/ncmpcpp/error.log
rofi/.local/share/rofi/rofi_calc_history
